// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

html {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: #4f7cac;
  text-decoration: none;
  transition-duration: 0.5s;

  &:hover {
    color: #f48498;
  }
}

.logo-img {
  filter: sepia(50%);
  transition-duration: 0.25s;

  &:hover {
    filter: none;
  }
}
